################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Screenshot_2017-07-30-21-35-07.png
/Screenshot_2017-07-30-21-35-39.png
/Screenshot_2017-07-30-21-35-55.png
/KatadZe/KatadZe.Android/KatadZe.Android.csproj.user
